<div id="main-nav-btn" class="open-nav glow">
  <svg width="22px" height="22px" viewBox="0 0 22 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Hamburger</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
      <g id="Header-Navigation-Mobile" transform="translate(-284.000000, -65.000000)" stroke="#FFFFFF">
        <g id="MobileNavigation" transform="translate(-12.000000, 50.000000)">
          <g id="Hamburger" transform="translate(297.000000, 15.000000)">
            <path d="M0.333333333,0.5 L19.7125893,0.5" id="Line"></path>
            <path d="M0.333333333,9.5 L19.7125893,9.5" id="Line-Copy-2"></path>
            <path d="M0.333333333,18.5 L19.7125893,18.5" id="Line-Copy-3"></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</div>
<nav id="nav" class="main-nav">
  <div id="close-nav" class="close-btn">X</div>
  <div class="nav-wrap">
    <ul class="nav">

      <% Object.keys(pages).forEach(function (id) { %>
        <% if (pages[id].title != 'Github') { %>
          <li><a href="<%= pages[id].location %>"><%= pages[id].title %></a></li>
        <% } else { %>
          <li><a href="<%= pages[id].location %>"><%= pages[id].title %></a>

            <ul class="sub-menu">
              <% Object.keys(githubPages).forEach(function (id) { %>
                <li>
                  <a href="<%= githubPages[id].location %>"><%= githubPages[id].title %></a>
                  <ul class="deep-menu">
                    <li><a href="<%= githubPages[id].about %>">About This Project</a></li>
                  </ul>
                </li>
              <% }) %>
            </ul>

          </li>
        <% } %>
      <% }) %>
    </ul>
    <hr>
    <ul class="nav">
      <li><a href="http://bit.ly/linkedin-ksutherland">LinkedIn</a></li>
    </ul>
  </div>
  <script src="../../js/nav.js"></script>
</nav>