<div id="main-nav-btn" class="open-nav">
  <img src="../../images/burger.svg" class="burger"></img>
</div>
<nav id="nav" class="main-nav">
  <div id="close-nav" class="close-btn">X</div>
  <div class="nav-wrap">
    <ul class="nav">

      <% Object.keys(pages).forEach(function (id) { %>
        <% if (pages[id].title != 'Github') { %>
          <li><a href="<%= pages[id].location %>"><%= pages[id].title %></a></li>
        <% } else { %>
          <li><a href="<%= pages[id].location %>"><%= pages[id].title %></a>

            <ul class="sub-menu">
              <% Object.keys(githubPages).forEach(function (id) { %>
                <li>
                  <a href="<%= githubPages[id].location %>"><%= githubPages[id].title %></a>
                  <ul class="deep-menu">
                    <li><a href="<%= githubPages[id].about %>">About This Project</a></li>
                  </ul>
                </li>
              <% }) %>
            </ul>

          </li>
        <% } %>
      <% }) %>
    </ul>
    <hr>
    <ul class="nav">
      <li><a href="http://bit.ly/linkedin-ksutherland">LinkedIn</a></li>
    </ul>
  </div>
  <script src="../../js/nav.js"></script>
</nav>