<% include ../partials/head %>
<% include ../partials/nav %>
<% include ../partials/header %>

<!-- HTML 5 states that the <a> element "may be wrapped around entire paragraphs, lists, tables, and so forth, even entire sections, so long as there is no interactive content within (e.g. buttons or other links)". -->

<main class="portfolio-index">
  <div class="project-display">

  <% Object.keys(portfolio).forEach(function (id) { %>
    <h2><%= id %></h2>

    <% Object.keys(portfolio[id].projects).forEach(function (pid) { %>
      <div class="project">
        <a href="<%= portfolio[id].projects[pid].link %>">
          <img src="<%= portfolio[id].projects[pid].imagePath %>"
            alt="<%= portfolio[id].projects[pid].imageAltTxt %>"
          >
          <div class="content">
            <h3 class="title"><%= pid %></h3>
            <div class="description" tabindex="0">
              <%= portfolio[id].projects[pid].description %>
            </div>
          </div>
        </a>
      </div>
    <% }) %>
  <% }) %>

  </div>
</main>

<% include ../partials/footer %>
